html {
    background-color: #2C3E50;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,#2C3E50 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,#2C3E50 00%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 0em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #FDFAFB;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
    text-align: left;
    border-left: 8px solid;
    border-right: 4px solid;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    padding: 0px;
    margin: 0px;

    /*line-height: 1.3em;*/
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 50%;
	width:50%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

#content{
    height: 280px;
    float:left;
    
}

div.left{
    width: 50%; 
    height:60px;
	/*max-width: 50%;*/
    float:left;
    padding: 0;
   /* background-image:url('../tkmishra/images/1.jpg');
    content-url(http://localhost/tk1/images/1.jpg);*/
}
div.left > img {
  /*width: auto;
  height : auto;
  max-height: 80%;
  max-width: 80%;*/
}
div.right{
    width: 50%;
    float: left;
    /*padding-top: 50px;
    padding-bottom: 40px;
    line-height: 11px;*/
}

div.hr {
background: #000000  no-repeat scroll center;
 margin: 0 0;
width: 700px;
height: 2px;
}

div.hr hr {
display: none;
}

#container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
        
}

#container div {
    /*background-color: gray;
    height: 100px;*/
    width: auto;
    float: left;
    margin: 5px;
}
#nav {
      width: 98.9%;
      height: 100%;
      float: left;
      margin: 0 5px 10px 0;
      padding-right: -2px;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav li{
  float:left;
  /*margin: 5px 5px;*/
    padding: 8px 14px;
    border-right: 1px solid #ccc;
}
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
   }

#nav li a:hover {
  /*color: #c00;*/
  background-color: #ABB2B9; }
/*#nav {
      width: 100%;
      height: 80%;
      float: left;
      margin: 0 0 3em 0;
      padding: -10px;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; }
#nav ul{
    list-style: none;
}
#nav li {
  float: left; }
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; }
#nav li a:hover {
  color: #c00;
  background-color: #fff; }*/
   /* End navigation bar styling. */


/*hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}*/
/*table {
    border-collapse: separate;
    border-spacing: 0 1em;
    width: 100%;
    border: 2px;
    padding-top: 50px;
    padding-bottom: 24px;
}
tr,td{
    padding: 0px;
    margin:0px;
    height: 5px;
}
td {
    padding-top: -1em;
    padding-bottom: -1em;
}*/
